#capa{
    background-image: url(R.jpeg);
    height: 1080px;
}
.title{
    font-family: Georgia;
    font-weight: 900;
    font-size: 94px;
    background-color: darkgoldenrod;
}
.text{
    font-size: 20px;
}
.content{
    color: rgba(255, 255, 255, 0.822);
}
li{
    font-size: 20px;
}